body {
    background-color:rgba(226, 223, 223, 0.445) ;
}
.gif{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid;
    margin-top: 40px;
}

h1{
    font-size: 25px;
    background-color: white;
    width: 100%;
}
img{
    width: 100%;
}
h2{
    font-size: 15px;
    margin-left: 3%;
   
}
.post_footer{
    margin-left: 3%;
}
